// resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

//   variables
$primary-color: #1cffb7;
$secondary-color: #544e4d;
// mixins
@mixin easyOut {
  transition: all 0.5s ease-out 0;
}

// funcions
